<section class="row">
  <form class="col-md-6" [formGroup]="incidentsForm">
    <div class="form-group row">
      <div class="offset-sm-3 col-sm-9">
        <h3 *ngIf="action === 'CREATE'" class="form-title-action">Add New <span class="form-title-categ">Incident</span></h3>
        <h3 *ngIf="action === 'EDIT'" class="form-title-action">Edit <span class="form-title-categ">Incident</span></h3>
      </div>
    </div>
    <div class="form-group row">
      <label for="code" class="col-sm-3 col-form-label">Code</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="code" formControlName="code" placeholder="Code">
      </div>
    </div>
    <div class="form-group row">
      <label for="subject" class="col-sm-3 col-form-label">Subject</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="subject" formControlName="subject" placeholder="Subject">
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-3 col-form-label">Description</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="description" formControlName="description" placeholder="Description">
      </div>
    </div>
    <div class="form-group row">
      <label for="employee" class="col-sm-3 col-form-label">Employee</label>
      <div class="col-sm-9">
        <nb-select id="employee" formControlName="employee_id" placeholder="Employee" outline status="primary">
          <nb-option value="1">RO1</nb-option>
          <nb-option value="2">RO2</nb-option>
          <nb-option value="3">RO3</nb-option>
          <nb-option value="4">RO4</nb-option>
          <nb-option value="4">RO5</nb-option>
          <nb-option value="4">RO6</nb-option>
        </nb-select>
      </div>
    </div>
    <div class="form-group row">
      <label for="project" class="col-sm-3 col-form-label">Project</label>
      <div class="col-sm-9">
        <nb-select id="project" formControlName="project_id" placeholder="Project" outline status="primary">
          <nb-option value="1">RO1</nb-option>
          <nb-option value="2">RO2</nb-option>
          <nb-option value="3">RO3</nb-option>
          <nb-option value="4">RO4</nb-option>
          <nb-option value="4">RO5</nb-option>
          <nb-option value="4">RO6</nb-option>
        </nb-select>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-3 col-sm-9">
        <button *ngIf="action === 'CREATE'" type="submit" class="btn btn-success" (click)="createEntity()">Add Incident</button>
        <button *ngIf="action === 'EDIT'" type="submit" class="btn btn-success" (click)="editEntity()">Edit Incident</button>
        <button type="submit" class="btn btn-outline-secondary ml-3" (click)="openTableView()">Cancel</button>
      </div>
    </div>
  </form>
</section>