nb-card {
    transform: translate3d(0, 0, 0);
}

button {
    cursor: pointer !important;
}

#hiringDate {
    width: 100%;
}

.nb-select button.btn.btn-primary.btn-outline {
    text-transform: lowercase !important;
    letter-spacing: 0 !important;
}

:host .nb-select button.btn.btn-primary.btn-outline {
    text-transform: lowercase !important;
    letter-spacing: 0 !important;
}

::ng-deep .nb-select button.btn.btn-primary.btn-outline {
    text-transform: lowercase !important;
    letter-spacing: 0 !important;
}