.hide-view {
    opacity: 0;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.show-view {
    opacity: 1;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.nb-select button.btn.btn-primary.btn-outline {
    text-transform: lowercase !important;
    letter-spacing: 0 !important;
}

:host .nb-select button.btn.btn-primary.btn-outline {
    text-transform: lowercase !important;
    letter-spacing: 0 !important;
}

::ng-deep .nb-select button.btn.btn-primary.btn-outline {
    text-transform: lowercase !important;
    letter-spacing: 0 !important;
}