<section class="row">
  <form class="col-md-6" [formGroup]="projectsForm">
    <div class="form-group row">
      <div class="offset-sm-3 col-sm-9">
        <h3 *ngIf="action === 'CREATE'" class="form-title-action">Add New <span class="form-title-categ">Project</span></h3>
        <h3 *ngIf="action === 'EDIT'" class="form-title-action">Edit <span class="form-title-categ">Project</span></h3>
      </div>
    </div>
    <div class="form-group row">
      <label for="code" class="col-sm-3 col-form-label">Code</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="code" formControlName="code" placeholder="Code">
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="team" class="col-sm-3 col-form-label">Team</label>
      <div class="col-sm-9">
        <nb-select id="team" formControlName="team_id" placeholder="Team" outline status="primary">
          <nb-option value="1">RO1</nb-option>
          <nb-option value="2">RO2</nb-option>
          <nb-option value="3">RO3</nb-option>
          <nb-option value="4">RO4</nb-option>
          <nb-option value="4">RO5</nb-option>
          <nb-option value="4">RO6</nb-option>
        </nb-select>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-3 col-sm-9">
        <button *ngIf="action === 'CREATE'" type="submit" class="btn btn-success mr-3" (click)="createEntity()">Add Project</button>
        <button *ngIf="action === 'EDIT'" type="submit" class="btn btn-success mr-3" (click)="editEntity()">Edit Project</button>
        <button type="submit" class="btn btn-outline-secondary" (click)="openTableView()">Cancel</button>
      </div>
    </div>
  </form>
</section>