<div class="row">

<div class="row">

  <div class="col-xxl-12">
    <div class="row">
      <div class="col-md-6">
        <hr-project-activity></hr-project-activity>
      </div>
      <div class="col-md-6">
        <hr-total-closed-incidents></hr-total-closed-incidents>
        <hr-assigned-employees></hr-assigned-employees>
      </div>
    </div>
  </div>

  <div class="col-xxl-12">
    <hr-team-activity></hr-team-activity>
  </div>

  <div class="col-xxl-12">
      <hr-charts></hr-charts>
  </div>

</div>
