<section class="row">
  <form class="col-md-6" [formGroup]="computersForm">
    <div class="form-group row">
      <div class="offset-sm-3 col-sm-9">
        <h3 *ngIf="action === 'CREATE'" class="form-title-action">Add New <span class="form-title-categ">Computer</span></h3>
        <h3 *ngIf="action === 'EDIT'" class="form-title-action">Edit <span class="form-title-categ">Computer</span></h3>
      </div>
    </div>
    <div class="form-group row">
      <label for="os" class="col-sm-3 col-form-label">Operating System</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="os" formControlName="operating_system" placeholder="Operating System">
      </div>
      <article class="offset-sm-3 col-sm-9 error">
        <p *ngIf="computersForm.controls['operating_system'].errors?.required && computersForm.controls['operating_system'].touched">
          Field is required.
        </p>
        <p *ngIf="computersForm.controls['operating_system'].errors?.maxlength">
          Max. 25 characters allowed.
        </p>
      </article>
    </div>
    <div class="form-group row">
      <label for="cpu" class="col-sm-3 col-form-label">CPU</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="cpu" formControlName="cpu" placeholder="CPU">
      </div>
      <article class="offset-sm-3 col-sm-9 error">
        <p *ngIf="computersForm.controls['cpu'].errors?.required && computersForm.controls['cpu'].touched">
          Field is required.
        </p>
        <p *ngIf="computersForm.controls['cpu'].errors?.maxlength">
          Max. 6 characters allowed.
        </p>
      </article>
    </div>
    <div class="form-group row">
      <label for="ram" class="col-sm-3 col-form-label">RAM</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="ram" formControlName="ram" placeholder="RAM">
      </div>
      <article class="offset-sm-3 col-sm-9 error">
        <p *ngIf="computersForm.controls['ram'].errors?.required && computersForm.controls['ram'].touched">
          Field is required.
        </p>
        <p *ngIf="computersForm.controls['ram'].errors?.maxlength">
          Max. 6 characters allowed.
        </p>
      </article>
    </div>
    <div class="form-group row">
      <label for="hdd" class="col-sm-3 col-form-label">HDD</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="hdd" formControlName="hdd" placeholder="HDD">
      </div>
      <article class="offset-sm-3 col-sm-9 error">
        <p *ngIf="computersForm.controls['hdd'].errors?.required && computersForm.controls['hdd'].touched">
          Field is required.
        </p>
        <p *ngIf="computersForm.controls['hdd'].errors?.maxlength">
          Max. 6 characters allowed.
        </p>
      </article>
    </div>
    <div class="form-group row">
      <label for="code" class="col-sm-3 col-form-label">Code</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="code" formControlName="code" placeholder="Code">
      </div>
      <article class="offset-sm-3 col-sm-9 error">
        <p *ngIf="computersForm.controls['code'].errors?.required && computersForm.controls['code'].touched">
          Field is required.
        </p>
        <p *ngIf="computersForm.controls['code'].errors?.maxlength">
          Max. 10 characters allowed.
        </p>
        <p *ngIf="computersForm.controls['code'].errors?.pattern">
          You can use only letters and numbers.
        </p>
      </article>
    </div>
    <div class="form-group row">
      <label for="employee" class="col-sm-3 col-form-label">Employee</label>
      <div class="col-sm-9">
        <nb-select id="employee" formControlName="employee_id" [(selected)]="currentEmployee.id" placeholder="Employee" outline status="primary">
          <nb-option value="">None</nb-option>
          <nb-option *ngIf="action === 'EDIT' && data.employee_id" [value]="data.employee_id">{{ data.employee.first_name }} {{ data.employee.last_name }}</nb-option>
          <!-- <nb-option *ngIf="action === 'EDIT' && currentEmployee.id" [value]="currentEmployee.id">{{ data.employee.first_name }} {{ data.employee.last_name }}</nb-option> -->
          <nb-option *ngFor="let employee of employees" [value]="employee.id">{{ employee.first_name }} {{ employee.last_name }}</nb-option>
        </nb-select>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-3 col-sm-9">
        <button *ngIf="action === 'CREATE'" type="submit" class="btn btn-success mr-3" (click)="createEntity()">Add Computer</button>
        <button *ngIf="action === 'EDIT'" type="submit" class="btn btn-success mr-3" (click)="editEntity()">Edit Computer</button>
        <button type="submit" class="btn btn-outline-secondary" (click)="openTableView()">Cancel</button>
      </div>
    </div>
  </form>
</section>