<section class="row">
  <form class="col-md-6" [formGroup]="rolesForm">
    <div class="form-group row">
      <div class="offset-sm-3 col-sm-9">
        <h3 *ngIf="action === 'CREATE'" class="form-title-action">Add New <span class="form-title-categ">Role</span></h3>
        <h3 *ngIf="action === 'EDIT'" class="form-title-action">Edit <span class="form-title-categ">Role</span></h3>
      </div>
    </div>
    <div class="form-group row">
      <label for="code" class="col-sm-3 col-form-label">Code</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="code" formControlName="code" placeholder="Code">
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-3 col-form-label">Description</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="description" formControlName="description" placeholder="Description">
      </div>
    </div>
    <div class="form-group row">
      <label for="is_management" class="col-sm-3 col-form-label">Team Mgmt</label>
      <div class="col-sm-9">
        <nb-checkbox formControlName="is_management">Management Role</nb-checkbox>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-3 col-sm-9">
        <button *ngIf="action === 'CREATE'" type="submit" class="btn btn-success mr-3" (click)="createEntity()">Add Role</button>
        <button *ngIf="action === 'EDIT'" type="submit" class="btn btn-success mr-3" (click)="editEntity()">Edit Role</button>
        <button type="submit" class="btn btn-outline-secondary" (click)="openTableView()">Cancel</button>
      </div>
    </div>
  </form>
</section>